<!--[main]-->
    <link href="app/resources/calendario.css" rel="stylesheet">
    <table style="border-collapse: collapse;">
        <thead>
            <tr> 
                <td style="padding: 2px; text-align: center; font-size: 20px;" colspan=3> PRÓXIMAS CONSULTAS </td>
            </tr>
            <tr style="padding: 2px;" >
                <td class='col20'>DATA CONSULTA</td><td class = 'col40'>MANHÃ</td><td class='col40'>TARDE</td>
            </tr>
        </thead>
        
<!--[consultas]-->        
    
        <tr style="padding: 5px;">
            <td style="text-align: right;">{$dt_consulta}</td>
            <td><a class="Llink" href="index.php?class=ConsultaMedicoForm&method=onEdit&key={$codigoConsultaManha}" >{$paciente_manha}</td>
            <td><a class="Llink" href="index.php?class=ConsultaMedicoForm&method=onEdit&key={$codigoConsultaTarde}" >{$paciente_tarde}</td>
        </tr>
    
<!--[/consultas]-->
        <tr>
            <td style= "text-align: center; background-color: #367fa9;"  colspan=3><a class='Llink'  href ='index.php?class=ConsultasMedicoList'>Ver Todas Consultas</td>
        </tr>
    </table>

<!--[/main]-->
