.col20
{
    width: 20%; 
}
.col40
{
    width: 40%;
}

table
{
    width: 100%;
    
}

thead
{
    font-weight: bold;
    color: white;
    background-color: #367fa9;
}
table tr td 
{
  border: 1px solid black;
  padding: 5px;
}

.Llink
{
    color: black;
    text-align: center;
}